{% extends 'base.html.twig' %}

{% block title %}Los Petits Panos
{% endblock %}

{% block stylesheets %}
	{{parent()}}
	<link href="{{ asset('css/jeux.css') }}" rel="stylesheet">
	<link href="{{ asset('css/gtfo.css') }}" rel="stylesheet">
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('js/gtfo.js') }}" defer></script>
{% endblock %}

{% block body %}
 <div id="snow"></div>
	<div class="titre">GTFO</div>
	<div class="container">
		<video autoplay loop muted>
			<source src="https://storage.googleapis.com/gtfo-prod-v1/Trailer_for_website_Pro_Res_2_H_264_24fef05909/Trailer_for_website_Pro_Res_2_H_264_24fef05909.mp4" type="video/mp4">
		</video>
	</div>

	<div class="intro">
		Des monstres et de la radioactivité, avancez vous et éliminer les ennemis furtivement mais soyez sûrs qu'au moindre bruit
		une mort certaine vous attend.
		Bienvenue dans l'enfer de GTFO !

	</div>

	<div class="liens">
		{% for video in videos %}

			<div class="biovideo">
				<iframe width="350" height="200" src="{{ video.lien|replace({'watch?v=': 'embed/'}) }}"></iframe>
				<div class="bio">
					{{video.description}}
				</div>
			</div>
		{% endfor %}
	</div>


	<div class="age">
		<div class="agetexte">

			<p class="centreage">Cette page est réservé à un public majeur, en appuyant sur ce bouton vous déclarez avoir plus de 18 ans.</p>
			<button class="ageferme" type="btn">Je suis majeur</button>
		</div>
	</div>


{% endblock %}
