{% extends 'base.html.twig' %}

{% block title %}Los Petits Panos{% endblock %}

{% block stylesheets %}
{{parent()}}
           <link href="{{ asset('css/jeux.css') }}" rel="stylesheet">
           <link href="{{ asset('css/mcdungeon.css') }}" rel="stylesheet">
{% endblock %}




{% block body %}

<div class="container">
    <video autoplay loop muted>
      <source src= "{{asset('videos/mcdungeon.mp4')}}" type="video/mp4">
    </video>
</div>
<div class="titre">Minecraft Dungeon </div>
{# <div class="intro"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eu varius leo. Cras lobortis, ligula eu mattis blandit, mi est tincidunt quam, in convallis nisi mi at quam. Nunc pharetra lorem nisi, ut pellentesque libero molestie vel. Sed viverra nibh et diam accumsan, in pulvinar nisi finibus. Nunc imperdiet dolor erat, a euismod ligula cursus in. Nulla blandit, lorem ut egestas venenatis, elit arcu ornare eros, vitae cursus neque purus eget mauris. Integer et feugiat nisi. Ut id tincidunt nunc, quis posuere turpis. #}
{# </div> #}

<div class="liens">

{% for video in videos %}

			<div class="biovideo">
				<iframe width="350" height="200" src="{{ video.lien|replace({'watch?v=': 'embed/'}) }}"></iframe>
				<div class="bio">
					{{video.description}}
				</div>
			</div>
		{% endfor %}

</div>




{% endblock %}