{% extends 'base.html.twig' %}

{% block title %}Equipe{% endblock %}

{% block stylesheets %}
	{{parent()}}
	<link href="{{ asset('css/equipe.css') }}" rel="stylesheet">

{% endblock %}



{% block body %}
<br>
    <h1>L'équipe </h1>


 <div class="card-container">
        {% for equipe in equipes %}
            <div class="card">
                <div class="card-image">
                    <img src="{{ equipe.photo }}" alt="Photo de {{ equipe.Pseudo }}">
                </div>
                <div class="card-content">
                    <h2>{{ equipe.Pseudo }}</h2>
                <div class="bio">
                    <p class="bio">{{ equipe.bio }}</p>
                    </div>
                </div>
                {% if is_granted('ROLE_ADMIN') %}                          
                <div class="card-actions">
                    <a href="{{ path('app_equipe_show', {'id': equipe.id}) }}">Voir</a>
                    <a href="{{ path('app_equipe_edit', {'id': equipe.id}) }}">Modifier</a>
                </div>
                {%endif%}
            </div>
        {% else %}
            <p>Personne ici</p>
        {% endfor %}
    </div>
    {% if is_granted('ROLE_ADMIN') %} 
    <a href="{{ path('app_equipe_new') }}">Nouveau membre</a>
    {%endif%}

{% endblock %}
